.app {
  text-align: center;
}

.body {
  background-color: #cccccc;
}

.app__title {
      font-size: 3rem;
	    text-align: center;
      height:9vh;
      line-height: 9vh;
	    color: #fcedd8;
	    background: #d52e3f;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b;
      margin-bottom: 30px;

}

.app__body {
  max-width: 320px;
  margin: auto;
}

.timer {
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  padding: 16px;
  max-width: 320px;
  margin: auto;
  margin-bottom: 8px;
}

.app img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

